/* Navbar main container */
.navbar{
    border: 2px solid #4CAF50;
    border-radius: 12px;
    background-color: #f9fafc;
    margin: 15px;
    padding: 10px 20px; 
    
}

.navbar-brand{
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-link{
    color: #333;
    font-weight: 500;
    padding: 6px 12px;
    margin-right: 8px;
    border-radius: 6px;
}

.navbar-nav .nav-link:hover{
    background-color: #3ebb44;
    color: white;
}

.navbar-toggler{
    border: 2px solid #38b63a;
    border-radius: 8px;
    padding: 6px 10px;
    background-color: #e8f5e9;
}

.dropdown-menu{
    border: 2px solid #29d12f;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f9fa;
}

.dropdown-item{
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 5px 0;
    padding: 8px 12px;
    background-color:#43e44b;
    color:#333333;
}

.dropdown-item:hover{
    background-color: #4CAF50;
    color: white;
}

.form-control{
    border-radius: 20px;
}

.btn-outline-success{
    border-radius: 20px;
    padding: 5px 12px;
}

